.swiper-pagination-bullet {
    background-color: white !important;
  }
  
  .swiper-pagination-bullet-active {
    background-color: white !important;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 40%);
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
  }
  