.wrapper-body {
    margin: 0;
    background-color: #1a1721;
    color: white;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

#wrapper {
    overflow: scroll;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    scroll-behavior: smooth;
}

#content {
    overflow: visible;
    width: 100%;
}

.scroll-text {
    position: fixed;
    top: 50vh;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 8vw;
    text-align: center;
    width: 100%;
    transform: translateY(-100%);
    z-index: 2;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    z-index: -2;
}

.outline-text {
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    z-index: 2;
}

.filter-text {
    mix-blend-mode: screen;
    color: #804691;
    z-index: 2;
}

.images {
    padding-top: 60vh;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 150vh;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 2%);
    grid-template-rows: repeat(30, 3%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 1;
    object-fit: cover;
}

.content__slide-item {
    width: 100%;
    height: 100%;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:nth-child(1) {
    grid-area: 1/1/6/8;
}

img:nth-child(2) {
    grid-area: 3/12/8/20;
}

img:nth-child(3) {
    grid-area: 9/5/13/15;
}

img:nth-child(4) {
    grid-area: 14/1/18/8;
}

img:nth-child(5) {
    grid-area: 16/12/20/19;
}

img:nth-child(6) {
    grid-area: 20/2/25/9;
}

img:nth-child(7) {
    grid-area: 22/11/24/20;
}

img:nth-child(8) {
    grid-area: 26/5/30/15;
}