.blob{
    width: 15rem; 
    height: 15rem; 
    border-radius: 15rem; 
    background: linear-gradient(197.37deg, #7450DB -0.38%, rgba(138, 234, 240, 0) 101.89%), linear-gradient(115.93deg, #1c77ff 4.86%, rgba(62, 180, 246, 0.33) 38.05%, rgba(62, 235, 246, 0) 74.14%), radial-gradient(56.47% 76.87% at 6.92% 7.55%, rgba(62, 136, 246, 0.7) 0%, rgba(62, 158, 246, 0.182) 52.16%, rgba(62, 246, 246, 0) 100%), linear-gradient(306.53deg, #21cbcb 19.83%, rgba(46, 228, 227, 0) 97.33%); 
    background-blend-mode: normal,normal,normal,normal,normal,normal; 
    filter: blur(72px);
    top: 5rem;
}

@media screen and (max-width: 1000px) {
   .blob{
    width: 15rem; height: 15rem; border-radius: 15rem; background: linear-gradient(197.37deg, #7450DB -0.38%, rgba(138, 234, 240, 0) 101.89%), linear-gradient(115.93deg, #1c77ff 4.86%, rgba(62, 180, 246, 0.33) 38.05%, rgba(62, 235, 246, 0) 74.14%), radial-gradient(56.47% 76.87% at 6.92% 7.55%, rgba(62, 136, 246, 0.7) 0%, rgba(62, 158, 246, 0.182) 52.16%, rgba(62, 246, 246, 0) 100%), linear-gradient(306.53deg, #21cbcb 19.83%, rgba(46, 228, 227, 0) 97.33%); background-blend-mode: normal,normal,normal,normal,normal,normal; filter: blur(72px);
    bottom: 7rem;
} 
}

@media screen and (max-width: 768px) {
   .blob{
    width: 15rem; height: 15rem; border-radius: 15rem; background: linear-gradient(197.37deg, #7450DB -0.38%, rgba(138, 234, 240, 0) 101.89%), linear-gradient(115.93deg, #1c77ff 4.86%, rgba(62, 180, 246, 0.33) 38.05%, rgba(62, 235, 246, 0) 74.14%), radial-gradient(56.47% 76.87% at 6.92% 7.55%, rgba(62, 136, 246, 0.7) 0%, rgba(62, 158, 246, 0.182) 52.16%, rgba(62, 246, 246, 0) 100%), linear-gradient(306.53deg, #21cbcb 19.83%, rgba(46, 228, 227, 0) 97.33%); background-blend-mode: normal,normal,normal,normal,normal,normal; filter: blur(72px);
    bottom: 4rem;
} 
}

@media screen and (max-width: 480px) {
   .blob{
    width: 12rem; height: 12rem; border-radius: 12rem; background: linear-gradient(197.37deg, #7450DB -0.38%, rgba(138, 234, 240, 0) 101.89%), linear-gradient(115.93deg, #1c77ff 4.86%, rgba(62, 180, 246, 0.33) 38.05%, rgba(62, 235, 246, 0) 74.14%), radial-gradient(56.47% 76.87% at 6.92% 7.55%, rgba(62, 136, 246, 0.7) 0%, rgba(62, 158, 246, 0.182) 52.16%, rgba(62, 246, 246, 0) 100%), linear-gradient(306.53deg, #21cbcb 19.83%, rgba(46, 228, 227, 0) 97.33%); background-blend-mode: normal,normal,normal,normal,normal,normal; filter: blur(72px);
    bottom: 6rem;
} 
}